body {
  margin: 0;

  font-family: Helvetica, Arial, sans-serif;

  background-color: $grey-900;
  color: $white-85;
}

a {
  color: $primary-500;

  &:hover {
    color: $primary-400;
  }

  &:visited {
    color: $primary-600;
  }
}
